.form-signup-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 15px;
    background: #2196F3;
    transform: translateY(100%);
    transition: 2s;
}

.form-signup-banner * {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.form-signup-banner p {
    margin-bottom: 0;
    text-align: center;
}

.form-signup-banner a {
    text-decoration: underline;
}

.form-signup-banner span {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.academy-first-section {
    padding: 108px 20px;
    background-color: #FFF;
}

.academy-first-section-left {
    max-width: 660px;
}

.academy-first-section-left ul {
    margin: 0px;
}

.page-template-academy #page > div:not(.free-consultations) h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;

    color: #000000;
}

.academy-first-section-left p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;

    color: #000000;
}

.academy-first-section-left li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    list-style: disc;

    color: #000000;
}

.academy-second-section {
    padding: 90px 20px;
}

.academy-second-section h2 {
    color: #FFF!important;
}

.academy-second-section p {
    font-size: 22px;
    line-height: 29px;
}

.academy-third-section {
    padding: 100px 20px;
}

.academy-third-left h2 {
    color: #FFF !important;
}

.academy-third-left ul {
    margin: 0;
}

.academy-third-left li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    list-style: decimal;
    
    color: #FFFFFF;
}

.academy-third-left p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;

    color: #FFFFFF;
}

.academy-third-down ul {
    margin: 0;
}

.academy-third-down h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin-top: 82px;

    color: #FFFFFF;
}

.academy-third-down li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    list-style: disc;

    color: #FFFFFF;
}

.academy-fourth-section {
    background: #FFF;
    padding: 150px 20px;
}

.academy-fourth-section-left ul {
    margin: 0px;
}

.academy-fourth-section li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    list-style-type: disc;

    color: #000000;
}

.academy-fourth-section p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;

    color: #000000;
}

.academy-fourth-section ul {
    margin: 0;
}

.academy-fourth-section a {
    color: #0138C7;
}

.academy-fifth-section {
    background: #fff;
    padding: 120px 20px;
}

.academy-fifth-section h2 {
    max-width: 700px;
}

.academy-fifth-section a {
    color: #0138C7;
}

.academy-fifth-section li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    list-style-type: disc;

    color: #000000;
}

.academy-fifth-section ul {
    margin: 0;
}

.academy-fifth-section p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;

    color: #000000;
}

.academy-fifth-section span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;

    color: #000000;
}

@media screen and (max-width: 1024px) {
    .form-signup-banner * {
        font-size: 16px;
    }

    .page-template-academy h2 {
        font-size: 28px !important;
        line-height: 34px !important;
    }
    .academy-first-section {
        padding: 50px 70px;
    }
    .academy-third-right img {
        margin-top: 40px;
    }
    .academy-second-section {
        padding: 50px 70px;
    }
    .academy-third-section {
        padding: 50px 70px;
    }
    .academy-fourth-section {
        padding: 50px 70px;
    }
    .academy-fifth-section {
        padding: 50px 70px;
    }
}

@media screen and (max-width: 525px) {
    .academy-first-section {
        padding: 50px 30px;
    }
    .academy-third-right img {
        margin-top: 40px;
    }
    .academy-second-section {
        padding: 50px 30px;
    }
    .academy-third-section {
        padding: 50px 30px;
    }
    .academy-fourth-section {
        padding: 50px 30px;
    }
    .academy-fifth-section {
        padding: 50px 30px;
    }
}