.page-template-qr-patrol #page > div:not(.free-consultations) h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    
    color: #000000;
}

.qr-patrol-benefits-active p {
    height: auto!important;
    opacity: 1!important;
    transition: .5s;
}

.qr-patrol-first-section {
    padding: 192px 91px;
    background-color: #FFF;
}

.qr-patrol-map {
    padding: 192px 0px;
    background-color: #FFF;
}

.qr-patrol-map h2 {
    text-align: center;
}

.inner-page-container {
    max-width: 1200px;
    margin: 0 auto;
}

.qr-patrol-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qr-patrol-first-section-left {
    max-width: 660px;
}

.qr-patrol-first-section .qr-patrol-first-section-left ul {
    margin-top: 68px;
    margin-left: 0px;
}

.qr-patrol-first-section .qr-patrol-first-section-left ul li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px;
    list-style: disc;

    color: #000000;
}

.qr-patrol-second-section #qr-patrol-video {
    padding-top: 0;
}

.qr-patrol-second-section {
    padding-top: 70px;
}

.qr-patrol-second-section h2 {
    color: #fff!important;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}

.qr-patrol-slider-wrapper {
    margin-top: 60px;
}

.qr-patrol-slider-wrapper img {
    width: 300px !important;
    margin-left: 23px;
    margin-right: 23px;
}

.local-clients-heading {
    margin-top: 75px!important;
    max-width: unset!important;
}

.local-clients-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-patrol-products-section {
    background: #FFF;
    padding: 110px 0px;
}

.qr-patrol-products-section h2 {
    text-align: center;
}

.qr-patrol-products-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 110px;
}

.qr-patrol-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-patrol-product a {
    margin-top: 40px;
}

.qr-patrol-third-section {
    padding-top: 160px;
    padding-left: 91px;

    background-color: #FFF;
    position: relative;
}

.qr-patrol-third-section p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    max-width: 500px;

    color: #000000;
}

.qr-patrol-third-img-hover-section {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.qr-patrol-third-img-hover-section img {
    width: 100%;
    max-width: 550px;
}

.gradient-qr-patrol-third-section {
    width: 100vw;
    height: 385px;
    background: linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 74.48%, #011627 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.qr-patrol-third-img-hover-section img {
    padding-bottom: 96px;
}

.qr-patrol-third-hover-section {
    position: relative;
    z-index: 4;
    margin-top: 120px;
}

.qr-patrol-third-hover-section > div {
    padding: 11px 16px;
    margin-bottom: 15px;
    cursor: default;
}

.qr-patrol-third-hover-section > div.qr-patrol-benefits-active {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
    transition: .5s;
}

.qr-patrol-third-hover-section > div::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
}

.qr-patrol-benefits-active::before {
    background: #2196F3!important;
}

.qr-patrol-third-hover-section h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.qr-patrol-third-hover-section p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
    height: 0;
    opacity: 0;
    margin-bottom: 0;
    transition: .5s;
}

.qr-patrol-fourth-section p {
    line-height: 28px;
    margin-bottom: 11px;
    font-size: 20px;
}

.qr-patrol-fourth-section h2 {
    text-align: center;
    color: #FFF!important;
}

.qr-patrol-fourth-section-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 70px;
}

.qr-patrol-fourth-section-wrapper {
    padding: 0;
}

.qr-patrol-subscription-wrapper {
    width: 100%;
    max-width: 340px;
    background: url(.png), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(165, 239, 255, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(40px);
}

.qr-patrol-subscription-header {
    background: rgba(65, 65, 65, 0.4);
    padding: 25px 50px;
}

.qr-patrol-subscription-header h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;

    color: #FFFFFF;
}

.qr-patrol-subscription-header-pro h3 span {
    color: #2196F3;
}

.qr-patrol-subscription-header-gold h3 span {
    color: #f2950a;
}

.qr-patrol-subscription-body {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 20px;
}

.qr-patrol-subscription-body a {
    margin-top: 30px;
}

.qr-patrol-fourth-section {
    padding-bottom: 70px;
}

.qr-patrol-sistem-obilaska-section {
    background-color: #FFF;
    padding-top: 81px;
}

.qr-patrol-sistem-obilaska-section p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}

.qr-patrol-sistem-obilaska-section img {
    max-width: 600px;
    margin-bottom: -5px;
}

.qr-patrol-sistem-obilaska-section .qr-patrol-wrapper {
    align-items: flex-end;
}

.qr-patrol-sistem-obilaska-section-text {
    max-width: 565px;
}

.qr-patrol-olaksajte-poslovanje-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr-patrol-olaksajte-poslovanje-wrapper h2 {
    color: #FFF !important;
}

.qr-patrol-olaksajte-poslovanje-section {
    padding-top: 70px;
    padding-bottom: 100px;
}

.qr-patrol-olaksajte-poslovanje-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-patrol-olaksajte-poslovanje-button-wrapper a:first-child {
    margin-right: 25px;
}

.compare-plans-btn {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 70px;
    max-width: 500px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .page-template-qr-patrol h2 {
        font-size: 36px;
        line-height: 42px;
        text-align: left;
    }
    .qr-patrol-wrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .qr-patrol-first-section {
        padding: 70px 20px;
    }
    .qr-patrol-third-img-hover-section {
        justify-content: center;
        flex-direction: column-reverse;
    }
    .qr-patrol-third-section {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
    }
    .qr-patrol-first-section .qr-patrol-first-section-left ul{
        margin-top: 40px;
    }
    .qr-patrol-fourth-section-wrapper {
        padding: 0;
    }
    .qr-patrol-fourth-section h2 {
        text-align: left;
    }
    .qr-patrol-fourth-section p {
        text-align: left;
    }
    .qr-patrol-map {
        padding: 50px 30px;
    }
    .qr-patrol-second-section {
        padding-top: 50px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .qr-patrol-products-section {
        padding: 50px 30px;
    }
    .qr-patrol-products-wrapper {
        justify-content: center;
        flex-direction: column;
        margin-top: 0px;
    }
    .qr-patrol-product {
        margin-top: 40px;
    }
    .qr-patrol-product a {
        margin-top: 20px;
    }
    .qr-patrol-fourth-section {
        padding: 50px 30px;
    }
    .qr-patrol-fourth-section-wrapper {
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
    }
    .qr-patrol-third-hover-section {
        margin-top: 20px;
    }
    .qr-patrol-third-hover-section > div {
        position: relative;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: #fff;
        transition: .5s;
    }
    
    .qr-patrol-third-hover-section > div::before {
        content: '';
        position: absolute;
        width: 7px;
        height: 100%;
        left: 0;
        top: 0;
        background: #2196F3;
    }
    .qr-patrol-third-hover-section p {
        height: auto;
        opacity: 1;
    }
    .qr-patrol-second-section #qr-patrol-video {
        padding-top: 0;
    }
    .qr-patrol-subscription-wrapper {
        margin-top: 30px;
    }
    .qr-patrol-sistem-obilaska-section .qr-patrol-wrapper {
        flex-direction: column-reverse;
    }
    .qr-patrol-sistem-obilaska-section {
        padding: 50px 30px;
        padding-bottom: 0px;
    }
    .qr-patrol-sistem-obilaska-section img {
        max-width: 100%;
        margin-bottom: -3px;
    }
    .qr-patrol-olaksajte-poslovanje-section {
        padding: 50px 30px;
    }
    .qr-patrol-olaksajte-poslovanje-button-wrapper {
        flex-direction: column;
    }
    .qr-patrol-olaksajte-poslovanje-button-wrapper a:first-child {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 425px) {
    .qr-patrol-subscription-wrapper {
        max-width: 100%;
    }
}